.testBody {
  position: relative;
  padding: 8rem 6.7rem 8.9rem 8.7rem;
  background: #F0F6FF;
  border-radius: 10px;

  &__adding {
    margin-top: 3.3rem;
    margin-left: 4.3rem;
    position: relative;
    font-size: 1.5em;
    line-height: 1.8rem;
    background: none;
    border: none;
    cursor: pointer;
  }

  &__submitBtn {
    margin-top: 5.7rem;
  }

  &__questionsBlocksList {
    margin-top: 8rem;
  }

  &__questionTitle {
    width: 2rem;
    height: 2rem;
    margin-top: 8rem;
  }

}

.titleContainer {
  margin-top: 8rem;
}

.loadingSpinner, .error {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 40rem;
  font-size: 3rem;
}
