.requests {

  &__header {
    position: absolute;
    top: -6rem;
    left: 0;
  }

  &__searching {
    position: relative;
  }

  &__blocks {
    margin-top: 2rem;
    height: 45.2rem;

    &__numberRequests {
      font-family: 'Inter', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 2rem;
      line-height: 2.4rem;
      color: rgba(0, 0, 0, 0.5);
    }

    &__wrapper {
      padding-right: 1.9rem;
      width: 46.9rem;
      height: 44.2rem;
      overflow-y: scroll;
    }

    &__str {
      position: relative;
      display: flex;
      justify-content: space-between;
      height: 4.2rem;
      padding: .9rem 0 .9rem 3.7rem;
      font-family: 'Inter', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 2rem;
      line-height: 2.4rem;
      border-bottom: 1px solid rgba(0, 0, 0, 0.5);
      color: rgba(0, 0, 0, 0.5);
    }

    input[type=checkbox] {
      position: absolute;
      top: 1.5rem;
      left: 0;
      width: 1.5rem;
      height: 1.5rem;
      border: 1px solid rgba(0, 0, 0, 0.5);
      border-radius: 2px;
    }

    &__intensivity {
      width: 4rem;
      font-family: 'Inter', serif;
      font-style: normal;
      font-weight: 400;
      font-size: 2rem;
      line-height: 2.4rem;
      border: none;
      color: #000000;
    }

    &__header {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: .9rem 0 .9rem 3.7rem;
      font-family: 'Inter', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 2.8rem;
      line-height: 3.4rem;
      border-bottom: 1px solid black;
      border-top: 1px solid black;
      color: #000000;

      input {
        top: 2rem;
      }
    }

  }

  &__input {
    position: relative;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.8rem;
    color: rgba(0, 0, 0, 0.5);
    height: 4rem;
    width: 100%;
    padding: 1.1rem 0 1.1rem 2rem;
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 10px;

    &__svg {
      position: absolute;
      top: 1rem;
      right: 2rem;
      cursor: pointer;
    }
  }

&__first, &__second {
  margin-top: 8.1rem;
  padding: 7.2rem 3.8rem 16.2rem 3.9rem;
  position: relative;
  width: 52.7rem;
  height: 75.2rem;
  background: #FFFFFF;
  border-radius: 15px;
}

}



