.requests__blocks {
  &__intensivity {
    width: 4rem;
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    line-height: 2.4rem;
    border: none;
    border-bottom: 1px solid #000;
    color: #000000;
  }
}

