.header {
  display: flex;
  justify-content: space-between;
  margin: 17.5rem 0 8.5rem auto;
}

.search {
  position: relative;
  margin-right: 18rem;
  width: 55.4rem;
  height: 6.9rem;
  padding: 2.5rem 4.4rem;
  font-size: 2rem;
  border: 1px solid #000000;
  border-radius: 45px;
  cursor: text;

  &__wrapper {
    position: relative;
    margin: 0 0 8.5rem auto;
  }

  &::placeholder {
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.8rem;
    color: rgba(0, 0, 0, 0.5);
  }

  &__btn {
    position: absolute;
    top: 0;
    right: 0;
  }
}

.requestsGroup {
  display: flex;
  flex-wrap: wrap;
  margin-top: 8rem;
  &__item {
    margin-right: 1rem;
  }
}

.loadingSpinner, .error {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 40rem;
  font-size: 3rem;
}
