.header {
  display: flex;
  justify-content: space-between;
  margin: 17.5rem 0 8.5rem auto;
}

.btnsGroup {
  display: flex;
  justify-content: space-between;
  margin: 0 0 8.5rem auto;
  width: 68rem;
}

.list {
  &__item {
    position: relative;
    margin-top: .4rem;
    width: 55.4rem;
    padding: 1.1rem 2rem;
    font-size: 1.5em;
    line-height: 1.8rem;
    text-align: left;
    color: rgba(0, 0, 0, 0.5);
    background-color: #FFF;
    border: 1px solid #000000;
    border-radius: 45px;
    cursor: pointer;
  }
}

.requestsGroup {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 8rem;
}
