.title {
  font-weight: 400;
  font-size: 4em;
  line-height: 4.4rem;
  color: #FFFFFF;

  &__wrapper {
    padding: 2.6rem 10.7rem;
    height: 10.2rem;
    background: #0F5BCD;
    border-radius: 10px;
  }
}
