.tests {
  &__list {
    margin-top: 7.4rem;
  }
  &__btn {
    display: flex;
    justify-content: end;
    margin-top: 6rem;
  }
  &__loading {
    display: flex;
    justify-content: space-around;
    margin-top: 3rem;
    font-size: 3rem;
  }
}

.none {
  display: none;
}
