.request {
  width: 52.7rem;
  min-height: 38.2rem;
  margin-bottom: 4rem;

  &__body {
    position: relative;
    top: -2rem;
    padding: 2.6rem 2rem 7rem 1.9rem;
    background: #F0F6FF;
    border-radius: 15px;
  }

  &__header {
    height: 10.2rem;
    background: #0F5BCD;
    border-radius: 10px;
    color: #FFF;
    padding: 2.6rem 4.1rem 3.9rem 3.9rem;
    text-align: center;
    font-weight: 400;
    font-size: 4em;
    line-height: 4.8rem;
  }

  &__wrapper {
    margin-top: 1.7rem;
  }

  &__item {
    margin: .9rem 2.2rem 0 2.2rem;
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    line-height: 2.4rem;
    padding-bottom: .9rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    color: #000000;
  }

  &__add {
    width: 100%;
    position: relative;
    margin-top: 3.3rem;
    padding: 1.6rem 0 1.5rem 2rem;
    background: #FFFFFF;
    border-radius: 10px;
    border: none;
    height: 4.9rem;
    font-size: 1.5em;
    line-height: 1.8rem;
    color: rgba(0, 0, 0, 0.5);
    cursor: text;
  }
}

.subtitle {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.8rem;
  color: #FFFFFF;

  &__group {
    display: flex;
    justify-content: space-between;
    margin-top: 1.7rem;
  }

}
