.table {
  &__container {
    margin-bottom: 13rem;
    margin-top: 18.7rem;
    width: 130rem;
    min-height: 80rem;
  }

  &__dateTitle {
    margin-left: 16.2rem;
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 2.9rem;
    color: rgba(51, 51, 51, 0.5);
  }

  &__dateContainer {
    display: flex;
    width: 50%;
    justify-content: flex-end;
    margin-top: 10rem;
    margin-left: 50rem;
  }
}
